<nav class='navbar'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class="navbar-brand" href="#">SIMS</a>
    </div>
    <div class='navbar navbar-right'>
      <ul>
        <%- if user_signed_in? %>
        <li class='nav-item'><%= link_to 'Home', authenticated_root_path %></li>
        <li class='nav-item'><%= link_to 'About', about_path %></li>
        <li class='nav-item'><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete'%></li>
        <li class='nav-item nohref'>
          <a nohref>
          Hey, <%= current_user.email.split('@')[0] %>
          </a>
        </li>
        <% else %>
        <li class='nav-item'><%= link_to 'Log in', new_user_session_path %></li>
        <li class='nav-item'><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br/>
