<%= form_for @course do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Course name', class: 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.label :course_type %>
    <%= f.select :course_type, Course::COURSE_TYPES, {}, class: 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.label :duration %>
    <%= f.number_field :duration, placeholder: 'Course Duration', class: 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.label :course_code %>
    <%= f.text_field :code, placeholder: 'Course Code: E.g. A01', class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.submit save_prompt, class: 'btn btn-primary' %>
  </div>

<% end %>
